extensions:
    dravencms.structure: Dravencms\Structure\DI\StructureExtension


dravencms.structure:
    tempPath: %appDir%/FrontModule/cms
    presenterModule: "Front"
    presenterMapping: Dravencms\*Module\*Presenter
    parentClass: Dravencms\FrontModule\SlugPresenter
    layoutDir: %appDir%/FrontModule/templates
    defaultLayout: 'layout'
    mappings:
        Dravencms\FrontModule\Components\*\*\-\*Factory: Dravencms\Model\*\Repository\*CmsRepository
    
services:
    routeFactory.Structure: Dravencms\Structure\RouteFactory
    route:
        setup:
           - addRouteFactory(@routeFactory.Structure)

nettrine.orm.annotations:
    mapping:
        Dravencms\Model\Structure: %appDir%/../vendor/dravencms/structure/src/Dravencms/Model/Structure/Entities