<form n:name="form" class="pull-right search-form" role="search" novalidate="">
    <div class="form-group">
        <input n:name="q" type="text" class="form-control" placeholder="Prohledat stránku...">
    </div>
    <button n:name="send" class="btn btn-theme">Hledat</button>
</form>