- Dravencms\Structure\MenuParameterSumGenerator
- Dravencms\Structure\MenuSlugGenerator
- Dravencms\Model\Structure\Repository\MenuRepository
- Dravencms\Model\Structure\Repository\MenuTranslationRepository
- Dravencms\Model\Structure\Repository\MenuContentRepository
- Dravencms\Model\Structure\Fixtures\AclOperationFixtures
- Dravencms\Model\Structure\Fixtures\AclResourceFixtures
- Dravencms\Model\Structure\Fixtures\AdminMenuFixtures