- Dravencms\Structure\MenuParameterSumGenerator
- Dravencms\Model\Structure\Repository\MenuRepository
- Dravencms\Model\Structure\Repository\MenuContentRepository
- Dravencms\Model\Structure\Repository\SearchCmsRepository

- Dravencms\Structure\Bridge\CmsLocale\LocaleRepository
- Dravencms\Structure\Bridge\CmsMenu\MenuRepository
- Dravencms\Structure\Bridge\CmsMenu\MenuContentRepository

- Dravencms\Model\Structure\Fixtures\AclOperationFixtures
- Dravencms\Model\Structure\Fixtures\AclResourceFixtures
- Dravencms\Model\Structure\Fixtures\AdminMenuFixtures